extends layout

block content
    h1= title
    if userlist === undefined
        p No users. Add one now!
    else 
        p User List:
        #userlist
        for user in userlist
            h2= user.name
            .email= user.email

    #addform
    form(method="post" action="/users")
        p 
            label Name: 
                input(type="text",name="name") 
        p
            label Email: 
                input(type="email",name="email") 
        button Add
